@{
    ViewData["Title"] = "Home Page";
}


<input type="hidden" value="0" id="idUsuario" />
<div class="mb-3">
    <label for="Nombre" class="form-label">Nombre: </label>
    <input type="text" name="Nombre" class="form-control" id="nombre" />
</div>
<div class="mb-3">
    <label for="fechaDate" class="form-label">Fecha de nacimiento</label>
    <input type="date" name="fechaDate" id="fechaNac">
</div>
<div class="mb-3">
    <select class="form-select" aria-label="Default select example" id="sexo">
        <option selected>Sexo</option>
        <option value="M">Masculino</option>
        <option value="F">Femenino</option>
    </select>
</div>
<button type="button" class="btn btn-primary" id="registrar">Registrar</button>
@section Scripts{
    <script>

        const Datos_defecto = {
            idUsuario: 0,
            nombre: "",
            fechaNac: "",
            sexo: ""
        }
        $("#registrar").click(() => {
            let base = Datos_defecto;
            base["idUsuario"] = $("#idUsuario").val();
            base["nombre"] = $("#nombre").val();
            base["fechaNac"] = $("#fechaNac").val();
            base["sexo"] = $("#sexo").val();

            fetch("/Home/Insertar", {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json;charset=utf-8'
                },
                body: JSON.stringify(base)
            })
                .then((response) => {
                    return reponse.ok ? response.json() : Promise.reject(response);
                })
                .then((dataJson) => {
                    if (dataJson.valor) {
                        alert("registrado");
                    } else {
                        alert("Error");
                    }
                })
        })

    </script>
}
